.nav-text a {
  text-decoration: none;
  color:black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: red;
}

span {
  margin-left: 16px;
}



.dropdown{
  background-color: rgb(180, 249, 143);
  width: 250px;
  display: none;
  left: 0%;
  transition: 850ms;

}


.dropdown.active{
  transition: 350ms;
  display: block;
  
}


.dropdown-list{
  color: black;
  text-decoration: none;
  font-style: bold;
}

.dropdown-items a{
  font-style: bold;
}